<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>240064146022-qeonq0gt796vvrvvmk28cgvfd9tshl77.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.240064146022-qeonq0gt796vvrvvmk28cgvfd9tshl77</string>
	<key>API_KEY</key>
	<string>AIzaSyDBUkNBtjz62e_Feh6sVngKMiQbwlSYMYw</string>
	<key>GCM_SENDER_ID</key>
	<string>240064146022</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>github.com-rvsantos.TwitterClone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-8fe3a</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-8fe3a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:240064146022:ios:9cef7e2a499cb8a9c85ba7</string>
</dict>
</plist>